<div id="avantages">

  <div class="section-title">
    <h2>De nombreux avantages</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 section-description" >
          <img src="../img/services/local.png">
          <h3>Local</h3>
          <p>Mobile dans la ville pour être
            au plus proche de chez vous, pas besoin de prendre sa voiture pour acheter local</p>
      </div>
      <div class="col-sm-4 section-description">
          <img src="../img/services/durable.png">
          <h3>Durable</h3>
          <p>Un triporteur électrique, la
            force du mollet pour rendre à la nature ce qu'elle nous donne</p>
      </div>
      <div class="col-sm-4 section-description">
            <img src="../img/services/pratique.png">
            <h3>Pratique</h3>
            <p>Pas besoin de réserver de paniers ou de s'abonner, achetez vos fruits et légumes quand ca vous chante</p>
      </div>

    </div>
    <hr class="section-divider">
  </div>
</div>
