

<div class="container">
  <div  class="section-title">
    <h2>Une équipe à votre serviceee</h2>
  </div>

  <div class="row">
  <div class="col-sm-4 section-description people" >
    <img src="../img/services/alex.png">
    <h3>Alexandre Bastien</h3>
    <p>Mangeur de navets depuis l'âge de 7 ans, Alexandre est ingénieur spécialisé en développement durable.</p>
  </div>
  <div class="col-sm-4 section-description people">
    <img src="../img/services/yann.png">
    <h3>Yann Girard</h3>
    <p>Passionné de carottes rapées et ingénieur en Design Industriel, Yann est spécialisé dans le design centré sur l’utilisateur.</p>
  </div>
  <div class="col-sm-4 section-description people">
    <img src="../img/services/cyril.png">
    <h3>Cyril Mace</h3>
    <p>Grand collectionneur de poireaux et ingénieur en informatique, Cyril est spécialiste en développement web et applications smartphone</p>
  </div>
</div>
</div>





    <!-- /.container -->

</div>
<!-- /.banner -->
