<div id="contacts" class="section-title">
  <h3>L'équipe</h1>
  <hr class="intro-divider"></hr>
</div>

<div class="row">
  <div class="col-sm-4 people" >
    <img src="../img/services/alex.png">
    <h3>local: efeffefe</h3>
  </div>
  <div class="col-sm-4 people">
    <img src="../img/services/yann.png">
    <h3>durable: effeef</h3>
  </div>
  <div class="col-sm-4 people">
    <img src="../img/services/cyril.png">
    <h3>pratique: rgergergger</h3>
  </div>
</div>



    <!-- /.container -->

</div>
<!-- /.banner -->
